
<div class="row">
	<div class="col-sm-4">
		<h3>Drop me a line!</h3>
		<hr>
		<address>
		<strong>Email:</strong> <a href="mailto:#"> name@domain.com</a><br><br>
		<strong>Phone:</strong> (555)123-4567
		</address>
	</div>

	<div class="col-sm-8 contact-form">
		<%= simple_form_for @contact, :html => {:class => 'contact' } do |f| %>
	<div class="row">


	<div class="col-xs-6 col-md-6 form-group">
		<%= f.text_field :name, :required => true, :class => 'form-control', :placeholder => 'Your Name' %>
	</div>
	<div class="col-xs-6 col-md-6 form-group">
		<%= f.text_field :email, :required => true, :class => 'form-control', :placeholder => 'Your Email' %>
	</div>
</div>
	<%= f.text_area :message, :as => :text, :required => false, :input_html => {:rows => 10}, :class => 'form-control', :placeholder => 'Your Message' %>
	<br />
	<div class="row">
		<div class="col-xs-12 col-md-12 form-group">
		<%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
		<% end %>
		</div>
</div>
</div>


