


<% unless @slider_section.nil?  %>
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

		<% for @post in @slider_section.posts %>
            <div class="item active">
                <div class="fill" style="background-image:url('<%= root_url + @post.asset.url %>');"></div>
                <div class="carousel-caption">
                    <h2><%= @post.title %> </h2>
                </div>
            </div>
		<% end %>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
<% end %>
    <!-- Page Content -->


        <!-- Marketing Icons Section -->
        <div class="row" id="featured" >

            <% unless @featured_section.nil?  %>

            <% for @post in @featured_section.posts %>
            <div class="col-md-4 col-centered">


                        <h3><i class="fa fa-fw fa-check"></i> <%= @post.title %></h3>
			<div class="featured-content">
                        	<p><%= truncate( @post.content, length: 260, escape: false) %></p>
			</div>
                        <a href="/posts/<%= @post.id  %>" class="btn-sm btn-default">Learn More</a>
            </div>
            <% end %>
	    <% end %>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
	<% unless @portfolio_section.nil? %>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Work</h2>
            </div>

	    <% @portfolio_section.posts.each do |post| %>
            <div class="col-md-4 col-sm-6">
                <a href="<%= post_path post %>">
                    <img class="img-responsive img-portfolio img-hover" src="<%= post.asset.url %>" alt="">
                </a>
            </div>
	    <% end %>

        </div>
	<% end %>
        <!-- /.row -->

    

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
