  <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Blog
                    <small>Our latest posts</small>
                </h1>
    <% @posts.each do |post| %>
                <!-- First Blog Post -->
                <h2>
                    <%= link_to post.title, post %>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> <%= post.updated_at %></p>
                <hr>
                <img class="img-responsive" src="<%= root_url + post.asset.url %>" alt="">
                <hr>
                <p><%= post.content[0, 200].gsub('<strong>', '').html_safe %>... <%= link_to '[More Info]', post %></p>

		<%= link_to 'Read More', post_path(post), class: 'btn btn-primary'  %>

                <hr>

    <% end %>

                <!-- Pager -->
<%= paginate @posts %>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">



                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-12">

                            <ul class="list-unstyled">
				<% for @category in get_categories %>
                                <li><a href="#"><%=  @category.title %></a>
                                <% end %>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->

                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

            </div>

        </div>
        <!-- /.row -->




