  <div class="row">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio
                    <small><%= @posts_portfolio.count %> items</small>
                </h1>
            </div>

        </div>
        <!-- /.row -->

    <% for @post in @posts_portfolio %>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="<%= root_url + @post.asset.url %>" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><%= @post.title %></h3>
                <p><%=  @post.content.html_safe %></p>
		<%= link_to 'See More', post_path(@post), class: 'btn btn-primary'  %>

            </div>
        </div>
        <!-- /.row -->        
	<hr>

    <% end %>

                <!-- Pager -->
<%= paginate @posts_portfolio %>

            </div>






