
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1><%= @post.title %></h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= @post.created_at.to_formatted_s :long %></p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src=".it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                 <%= @post.content.html_safe %>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                <h4>Leave a Comment:</h4>
                               <div class="form-group">
					  <%= form_for([@post, @post.comments.build]) do |f| %>
			    <p>
			      <%= f.label :commenter %><br>
			      <%= f.text_field :commenter, :class => 'form-control' %>
			    </p>
			    <p>
			      <%= f.label :body %><br>
			      <%= f.text_area :body, :class => 'form-control'  %>
			    </p>
			    <p>
			      <%= f.submit :send, :class => 'btn btn-primary'%>
			    </p>
			  <% end %>

			</div>
		</div>
                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->

			<% @post.comments.each do |comment| %>
			<% unless comment.nil? %>
			<div class="media">

			    <div class="media-body">
				<h4 class="media-heading"><%= comment.commenter %>
				    <small><%= comment.created_at %></small>
				</h4>
				<%= comment.body %>
			    </div>
			</div>
			<% end %>
			<% end %>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">


                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-12">

                            <ul class="list-unstyled">
				<% for @category in get_categories %>
                                <li><a href="#"><%=  @category.title %></a>
                                <% end %>
                            </ul>
                        </div>

                    </div>
                    <!-- /.row -->
                </div>



            </div>

        </div>





<%
=begin
\<\%\= link_to 'Edit', edit_post_path(@post) \%\> |
\<\%\= link_to 'Back', posts_path \%\>
=end
%>
