// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: 'Coda Caption', sans-serif;
  color: #0088CC;
}

h2 {
  font-family: 'Coda Caption', sans-serif;
  color: #0088CC;
}

section a {
  color: #0088CC;
  &:visited {
    color: #0088CC;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

section p {
  text-align: justify;
}

span.label {
  font-size: small;
  font-weight: bold;
}

span.author {
  font-style: italic;
}

input[type=text] {
  width: 552px;
}

textarea {
  width: 552px;
}