html,
body {
    height: 100%;
}

body {
    padding-top: 80px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 450px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

#login-menu input.form-control {
	padding-top:2px;
	padding-bottom:2px;
	height:24px;
	line-height:24px;
	margin-bottom:4px;
}
#login-menu form label{
	font-size:0.7em;
}
#login-menu form a {
	font-size:0.65em;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.dropdown-menu {
	padding-bottom:10px;
}


#featured{
	margin-top:15px;
}

#featured h3{
	padding-bottom:4px;
	
	border-bottom:1px solid #EFEFEF;	
}

#featured .featured-content{
height:80px;
}

#featured .featured-content p{ 
	line-height:1.4em;
}
