@mixin absolute {
  position: absolute;
}

@mixin absolute-top-left {
  @include absolute;
  top: 0;
  left: 0;
}

@mixin absolute-bottom-left {
  @include absolute;
  bottom: 0;
  left: 0;
}

@mixin absolute-bottom-right {
  @include absolute;
  bottom: 0;
  right: 0;
}

@mixin transition-piece {
  @include absolute;
  display: block;
  z-index: 5;
}

.ramblingSlider {
  position: relative
  img {
    @include absolute-top-left;
  }

  a.rambling-imageLink {
    @include absolute-top-left;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    display: none;
  }

  .rambling-slice {
    @include transition-piece;
    height: 100%;
  }

  .rambling-box {
    @include transition-piece;
  }

  .rambling-caption {
    @include absolute-bottom-left;
    background: #000000;
    color: #ffffff;
    opacity: 0.8;
    width: 100%;
    z-index: 8;

    p {
      padding: 5px;
      margin: 0;
    }

    a {
      display: inline !important;
    }
  }

  .rambling-directionNav a {
    @include absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
  }

  .rambling-prevNav {
    left: 0px;
  }

  .rambling-nextNav {
    right: 0px;
  }

  .rambling-controlNav a {
    position: relative;
    z-index: 9;
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }

  #rambling-animation {
    @include absolute-top-left;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  object {
    display: none;
  }

  .slideElement,
  .slideElement object {
    display: block;
  }
}

.rambling-html-caption {
  display: none;
}

.adaptingSlider {
  .currentSlideElement img,
  img.currentSlideElement {
    @include absolute;
    display: block;
    width: 100%;
  }

  img.currentSlideElement.alignBottom {
    @include absolute-bottom-right;
    top: auto;
    left: auto;
  }

  .rambling-box, .rambling-slice {
    span {
      position: relative;
      display: block;
      height: 100%;
    }

    img {
      display: block;
      @include absolute-bottom-right;
    }
  }
}

@import "themes/default";
@import "themes/orman";
@import "themes/pascal";

.theme-default #slider {
  width: 920px;
  height: 361px;

  &.adaptingSlider {
    width: 750px;
    height: 299px;
  }
}

.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
  margin-top: 150px;
}
