h1 {
  font-family: 'Coda Caption', sans-serif;
  color: #0088CC;
}

h2 {
  font-family: 'Coda Caption', sans-serif;
  color: #0088CC;
}

section a {
  color: #0088CC;
  &:visited {
    color: #0088CC;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

section p {
  text-align: justify;
}
