<!DOCTYPE html>
<html>
<head>
  <title><%= bloginfo :title %></title>
  <meta name="keywords" content="<%= bloginfo :keywords %>"/>
  <meta name="description" content="<%= bloginfo :description %>"/>

  <link href='http://fonts.googleapis.com/css?family=Coda+Caption:800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag :application, :media => "all" %>

  <%= stylesheet_link_tag 'rambling.slider' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= favicon_link_tag 'favicon.jpg' %>


  <%= csrf_meta_tags %>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="<%= bloginfo :title %>"><%= image_tag "logo.png" %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/cms/about">About</a>
                    </li>
                    <li>
                        <a href="/cms/services">Services</a>
                    </li>
                    <li>
                        <a href="/contacts/new">Contact</a>
                    </li>
                    <li class="dropdown">
                         <a href="/posts/portfolio">Portfolio</a>
                    </li>
                    <li class="dropdown">
                        <a href="/posts/" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
				<% for @category in get_categories %>
					    <li>
						<a href="/categories/<%= @category.id %>"><%= @category.title %></a>
					    </li>
				<% end %>
					<li>
						<a href="/posts/">All Posts</a>
					    </li>
                        </ul>
                    </li>

                    <%  if user_signed_in? %>
			<li><a href="/admin">Logged in as <%= current_user.email %></a></li>
			<% else %>
					<li class="dropdown" id="login-menu">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
						<div class="dropdown-menu" style="padding: 15px;">
							<label>Please login:</label>
							<%= form_for(:user, :url => session_path(:user)) do |f| %>
							  <%= f.text_field :email,  {:class => 'form-control', :placeholder => 'Email' } %>
							  <%= f.password_field :password,  {:class => 'form-control', :placeholder => 'Password' } %>
							  <%= f.check_box :remember_me %>
							  <%= f.label :remember_me %>
							  <%= f.submit 'Sign in',  :class => 'form-control  btn-small btn-primary' %>
							  <%= link_to "Forgot your password?", new_password_path(:user) %>
							<% end %>
						</div>
					</li>


			<% end %>
                </ul>





            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
	<%= yield %>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
<hr />
                    <p>Copyright &copy; EosWeb 2014</p>
                </div>
            </div>
        </footer>

	    </div>
</body>
</html>
