/*
 * Skin Name: Pascal Theme
 * Skin Type: fixed
 * Image Width: 630
 * Image Height: 235
 * Description: A nice, light skin for the Nivo Slider.
 * Version: 1.0
 * Author: Edgar Gonzalez (originally by Gilbert Pellegrom & Pascal Gartner)
 * Author URI: http://dev7studios.com
 */

.theme-pascal.slider-wrapper {
  background: url(../images/themes/pascal/slider.png) no-repeat;
  
  margin: 0 auto;
  padding-top: 17px;
  position: relative;
}

.theme-pascal {
  .ramblingSlider {
    position: relative;
    width: 630px;
    height: 235px;
    margin-left: 19px;
    background: url(../images/themes/pascal/loading.gif) no-repeat 50% 50%;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
      width: 630px; /* Make sure your images are the same size */
      height: 235px; /* Make sure your images are the same size */
    }

    a {
      border: 0;
      display: block;
    }

    .rambling-controlNav {
      background: url(../images/themes/pascal/controlnav.png) no-repeat;
      width: 251px;
      height: 40px;
      position: absolute;
      left: 200px; /* Tweak this to center bullets */
      bottom: -42px;
      padding: 8px 0 0 82px;
      z-index: 20;

      a {
        display: block;
        width: 22px;
        height: 22px;
        background: url(../images/themes/pascal/bullets.png) no-repeat;
        text-indent: -9999px;
        border: 0;
        margin-right: 3px;
        float: left;

        &.active {
          background-position: 0 -22px;
        }
      }
    }

    .rambling-directionNav a {
      display: none;
    }

    .rambling-caption {
      bottom: 40%;
      left: auto;
      right: 0px;
      width: auto;
      max-width: 630px;
      overflow: hidden;
      background: #fff;
      text-shadow: none;
      font-family: arial, serif;
      color: #4c4b4b;

      p {
        padding: 5px 15px;
        color: #333;
        font-weight: bold;
        font-size: 27px;
        text-transform: uppercase;
      }

      a {
        color: #333;
        font-weight: bold;
        font-size: 27px;
        text-transform: uppercase;
      }
    }
  }

  .ribbon {
    background: url(../images/themes/pascal/ribbon.png) no-repeat;
    width: 111px;
    height: 111px;
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: 300;
  }
}
